/* CSS declarations go here */

.tile{
	position: relative;
	display: inline-block;
	height: 50px;
	width: 50px;
}

.tile.moveable{
	background-color: yellow;
}

.land0{
	background-color: #4dff88;
}

.land1{
	background-color: #00cc44;
}

.land2{
	background-color: #006622;
}

.water0{
	background-color: blue;
}

.hole{
	background-color: black;
}

.soldier{
	position: absolute;
	top: 12px;
	left: 12px;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	background-color: red;
}