/* CSS declarations go here */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	height: 100%;
	background: #eee;
    background-image: linear-gradient(to bottom,#d7d7d7 0%,#eeeeee 116px);
}

div{
	line-height: 0;
	margin: 0px;
	outline: none;
	padding: 0px;
	font-size: 0;
}

.board{
	margin-left: 100px;
}

.row .tile:first-child{
	border-left: 1px solid #999;
}

.row:first-child .tile{
	border-top: 1px solid #999;
}

.tile{
	position: relative;
	display: inline-block;
	box-sizing: border-box;;
	height: 50px;
	width: 50px;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;

}

.tile.moveable{
	border: 5px solid yellow;
}

.terra-state, form, .taken-soldiers{
	font-size: 12pt;
}

.taken-soldiers{
	display: inline-block;
	line-height: 1;
	height: 50px;
	width: 50px;
	position: relative;
}

.land0{
	background-color: #71B16E;
}

.land1{
	background-color: #287324;
}

.land2{
	background-color: #006622;
}

.water0{
	background-color: blue;
}

.hole{
	background-color: black;
}

.soldier{
	position: absolute;
	top: 8px;
	left: 8px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: green;
	background-image: url('/images/sword.png');
	background-position: 0 0;
	background-repeat: round;
	border: 1px solid black;
}

.soldier.mage{
	background-image: url('/images/pyramid.png');
}

.soldier.archer{
	background-image: url('/images/bow.png');
}

.soldier.knight{
	background-image: url('/images/horse.png');
}

.sign{
	border-radius: 50%;
	width: 25px;
	height: 25px;
	margin-left: 520px;
}

.teamA{
	background-color: red;
}

.teamB{
	background-color: white;
}